<div class="col-md-12">
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

      <tr >
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> <a class="btn btn-success">+</a></td>
      </tr>
      <tr >
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> <a class="btn btn-success">+</a></td>
      </tr>
      <tr >
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> okkkkk</td>
        <td> <a class="btn btn-success">+</a></td>
      </tr>
    </tbody>
  </table>
<div>
